
detection-image=/Users/mac_seo/Research_local/7DTonCOSMOS/COSMOS_data/COSMOS1/calib_7DT_COSMOS_1_20240528_233838_m500_3960.com.fits

detection-threshold=3
detection-minimum-area=3
magnitude-zero-point=26.461

python-config-file=/Users/mac_seo/Research_local/7DTonCOSMOS/seppconfig/singlephot_cosmos1_m500.py

output-properties=SourceIDs,PixelCentroid,WorldCentroid,AperturePhotometry
output-catalog-filename=/Users/mac_seo/Research_local/7DTonCOSMOS/output/COSMOS1/singbandphot/cat_cosmos1_m500.fits

segmentation-use-filtering=false
thread-count=1
