
detection-image=/Users/mac_seo/Research_local/7DTonCOSMOS/COSMOS_data/COSMOS1/calib_7DT_COSMOS_1_20240504_213152_m425_12480.com.fits

detection-threshold=3
detection-minimum-area=3
magnitude-zero-point=26.064

python-config-file=/Users/mac_seo/Research_local/7DTonCOSMOS/seppconfig/singlephot_cosmos1_m425.py

output-properties=SourceIDs,PixelCentroid,WorldCentroid,AperturePhotometry,SNRRatio,ShapeParameters,FluxRadius
output-catalog-filename=/Users/mac_seo/Research_local/7DTonCOSMOS/output/COSMOS1/singlebandphot/cat_cosmos1_m425.fits

segmentation-use-filtering=false
thread-count=1
