
detection-image=/Users/mac_seo/Research_local/7DTonCOSMOS/COSMOS_data/COSMOS1/calib_7DT_COSMOS_1_20240428_004148_m675_7080.com.fits

detection-threshold=3
detection-minimum-area=3
magnitude-zero-point=25.578

python-config-file=/Users/mac_seo/Research_local/7DTonCOSMOS/seppconfig/singlephot_cosmos1_m675.py

output-properties=SourceIDs,PixelCentroid,WorldCentroid,AperturePhotometry,SNRRatio,ShapeParameters,FluxRadius
output-catalog-filename=/Users/mac_seo/Research_local/7DTonCOSMOS/output/COSMOS1/singlebandphot/cat_cosmos1_m675.fits

segmentation-use-filtering=false
thread-count=1
