
detection-image=/Users/mac_seo/Research_local/7DTonCOSMOS/COSMOS_data/COSMOS1/calib_7DT_COSMOS_1_20240511_060100_m750_8760.com.fits

detection-threshold=3
detection-minimum-area=3
magnitude-zero-point=24.808

python-config-file=/Users/mac_seo/Research_local/7DTonCOSMOS/seppconfig/singlephot_cosmos1_m750.py

output-properties=SourceIDs,PixelCentroid,WorldCentroid,AperturePhotometry
output-catalog-filename=/Users/mac_seo/Research_local/7DTonCOSMOS/output/COSMOS1/singbandphot/cat_cosmos1_m750.fits

segmentation-use-filtering=false
thread-count=1
